h2{
    font-size: 24px;
    color: #428BCA;
}

h3{
    font-size: 18px;
    color: black;
}

#content .center{
    padding: 0 0;
}

#wrapper{
    min-height: 100vh;
    position: relative;
    padding-top: 54px;
    padding-bottom: 51px;
    box-sizing: border-box;
}

#header {
    position: fixed;
    width: 100%;
    padding: 0 0 10px 0;
    z-index: 20;
    top: 0;
}

.nav-item .btn{
    background-color: #428BCA;
    height: 40px;
    color: white;
    text-align: center;
}

.navbar {
    font-size: 13px;
}

.navbar {
    white-space: nowrap;
}

#sbox1 {
    width: 160px; 
}


#footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 6px 0 0 0;
}