/* 全体のレイアウト */
img {
    object-fit: cover;
}

h2{
    margin: 0 0 16px;
    padding: 0 0 16px
}

p{
    font-size: 16px;
}

/* スライドショー */
.carousel-inner{
    overflow: hidden;
}

.carousel-inner img {
    transform: scale(1);
    transition-duration: 0.3s;
    position: relative;
}

.carousel-caption{
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    height: 30%;
    padding:5px 0 5px;
    bottom: 0;
    left: 0;
}

.carousel-caption .slide-title{
    font-size: 20px;
}

/* ブログ速報 */
.news-contents {
    margin: 64px 0 0;
}

.news-contents h2{
    margin: 0 0 15px;
}
/* left-contents */
.news-left-contents .nav-item .nav-link{
    color: #000000;
}

.news-left-contents ul{
    border-bottom: solid 3px #428BCA;
    margin: 0;
}

.news-left-contents .nav-item .active{
    background-color: #428BCA;
    border-bottom: solid 1px #428BCA;
    color: white;
}

.news-contents .nav-item {
    font-size: 16px;
}

.tab-content a:hover{
    background-color: #EBF5FB ;
}

.tab-content .more{
    
    text-align: right;
}

.tab-content .more:hover{
    background-color: initial;
    text-decoration: underline;
}

.tab-content .time-box{
    padding: 0;
}

.tab-content .title-box{
    padding: 0;
}

.tab-content .author-box{
    padding: 5px 0;
}

.tab-content .row {
    margin:0;
}

.tab-content a{
    font-size: 16px;
    display: block;
    padding: 16px 0 0;
    color: #333333;
    text-decoration: none;
}

.tab-content h3{
    margin: 8px 0;
}

.tab-content .time{
    margin-right: 10px;
    color: #E77D00;
    font-style: italic;
}
.tab-content .author{
    float:right;
    font-weight: lighter;}

/* right-contents */
.news-right-contents a{
    text-decoration: none;
}

.news-right-contents .col-6{
    padding: 7px;
}

.news-right-wrapper{
    padding:0;
    border-radius: 10px;
    overflow: hidden;
}

.news-right-wrapper:hover{
    background-color: #EBF5FB ;
}

.news-right-wrapper p{
    margin: 10px 0;
    padding: 0 15px;
}

.news-right-wrapper .news-category{
    color: #000000;
}

.news-right-wrapper .title{
    font-size: 12px;
    line-height: 15px;
    color:#666666;
}

.news-right-contents .left{
    padding-left: 15px;
}

.news-right-contents .right{
    padding-right: 15px;
}

/* ランキング */
.ranking-contents {
    margin: 64px 0 0;
}

.ranking-contents h3{
    margin: 15px 0 5px;
}

.ranking-contents .row{
    margin: 0;
}

.ranking-wrapper .rank{
    margin: 20px 0 10px;
}

.ranking-wrapper p{
    color: #000000;
    text-align: center;
    margin: 10px 0;
}

.ranking-contents .ranking-title{
    font-size: 12px;
    line-height: 15px;
}

.ranking-wrapper a{
    text-decoration: none;
}

.img-wrapper{
    overflow: hidden;
}

.ranking-wrapper img{
    transform: scale(1);
    transition-duration: 0.3s;
}

.more-wrapper{
    padding: 10px 0 10px;
}

.ranking-more{
    color: #333333;
}

/* お知らせ */
.notice-contents{
    margin: 64px 0 0;
}

.notice-contents .row{
    margin: 0 10px;
    border-bottom: solid 0.5px #c0c0c0;
    padding: 10px 0;
}

