/* 全体のレイアウト */
img {
    object-fit: cover;
}

h2{
    margin: 0 0 5px;
    font-size: 24px;
    color: #428BCA;
    border-bottom: solid 1px #c0c0c0;
}

h3{
    font-size: 18px;
    color: black;
}

p{
    font-size: 16px;
}


/* スライドショー */
.carousel-inner{
    overflow: hidden;
}

.carousel-inner img {
    border-radius: 15px;
    transform: scale(1);
    transition-duration: 0.3s;
}

/* ブログ速報 */
.news-contents {
    margin: 30px 0 0;
}

.news-contents h2{
    margin: 0 0 15px;
}
/* left-contents */
.news-left-contents .nav-item .nav-link{
    color: #000000;
}

.news-left-contents ul{
    border-bottom: solid 3px #428BCA;
}

.news-left-contents .nav-item .active{
    background-color: #428BCA;
    border-bottom: solid 1px #428BCA;
    color: white;
}

.news-left-contents a:hover{
    background-color: #EBF5FB ;
}

.news-left-contents .title-box{
    padding: 0;
}

.news-left-contents .author-box{
    position: relative;
}

.author-box .author{
    position: absolute;
    right: 15px;
    bottom: 0;
}

.news-contents .nav-item {
    font-size: 16px;
}

.tab-content a{
    font-size: 16px;
    display: block;
    padding:22px 0 0;
    color: #333333;
    text-decoration: none;
    border-bottom: solid 0.5px #c0c0c0;
}

.tab-content h3{
    margin: 8px 0;
}

.tab-content .time{
    margin-right: 10px;
    color: #E77D00;
    font-style: italic;
}
.tab-content .author{
    float:right;
    font-weight: lighter;}

/* right-contents */
.news-right-contents a{
    text-decoration: none;
}

.news-right-contents .col-6{
    padding: 7px;
}

.news-right-wrapper:hover{
    background-color: #EBF5FB ;
}


.news-right-wrapper{
    padding:0;
    margin: 5px 0;
    border-radius: 10px;
    overflow: hidden;
}

.news-right-wrapper .news-category{
    font-size: 16px;
    margin: 0 0 ;
    color: #000000;
}

.news-right-wrapper .title{
    font-size: 12px;
    line-height: 15px;
    color:#666666;
}

.news-right-contents .left{
    padding-left: 15px;
}

.news-right-contents .right{
    padding-right: 15px;
}




/* ランキング */

.ranking-contents {
    margin: 30px 0 0;
}

.ranking-contents h3{
    margin: 15px 0 15px;
}

.ranking-contents .row{
    padding-bottom: 15px;
    border-bottom: solid 0.5px #c0c0c0;
    margin: 0 8px;
}

.ranking-wrapper p{
    color: #000000;
    text-align: center;
    margin: 0;
}

.ranking-contents .ranking-title{
    font-size: 12px;
    line-height: 15px;
}

.ranking-wrapper a{
    text-decoration: none;

}

.ranking-wrapper img{
    border-radius: 5px;

}


/* お知らせ */
.notice-contents{
    margin: 30px 0 0;
}

.notice-wrapper{
    margin: 0 10px;
    border-bottom: solid 0.5px #c0c0c0;

}
