.popup {
    display: none;
    height: 100vh;
    width: 100%;
    background: black;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
}

.content{
    background: #fff;
    padding: 10px;
    width: 50%;
}

.content img{
    width:100%;
    max-width: 100%;
    height: auto;
}

.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    bottom: 0;
}

