/* テキスト部 */
h1 {
    border-bottom: solid 1px #c0c0c0;
}

/* ディスプレイ部 */
.display-wrapper {
    padding: 2px;
}

.display-wrapper img {
    border-radius: 10px;
}
/* ポップアップ部 */
.popup {
    display: none;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.left-content {
    position:relative;
}

.popup .rev {
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);

}

.popup .next {
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
}

.popup .close {
    width:72px;
    float:left;
}

.content-wrapper{
    background:  rgba(255,255,255);
    padding: 10px;
    width: 50%;
}

.modalImage{
    width:100%;
    max-width: 100%;
    height: auto;
}

.show {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* いいね関連 */
.post {
    border-top: solid 1px #c0c0c0;
    border-bottom: solid 1px #c0c0c0;
    padding: 15px 0;
}

.btn-good-default{
    display: inline-block;
    padding: 0 8px;
}
.btn-good{
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}

.goods {
    display: inline-block;
}

.btn-good:hover{
    color: #f44336;
}
.active{
    color: #f44336;
}
.btn-good .active{
    color: #f44336;
}